* {
  margin: 0;
  padding: 0;
  font-family: "quicksand", "Courier New", monospace;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(1, 0, 15);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#text-animation-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(1, 0, 15);
  z-index: 10;
}

#text-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

h1 {
  margin: 15vh 20px 0;
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
  user-select: none;
  cursor: default;
}

#start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

.menu-item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
  padding: 3px 1rem 8px 1rem;
  border-radius: 2rem;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item:hover {
  background-color: rgba(240, 255, 255, 0.202);
}

a {
  text-decoration: none;
  color: aliceblue;
}

#ball-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 6rem;
}

#ground {
  position: relative;
  width: 0px;
  height: 0px;
  background-color: aliceblue;
}

#ball {
  position: relative;
  margin: auto;
  width: 32px;
}

#caption {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1rem;
  color: rgb(77, 80, 83);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes close-text-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes open-text-animation {
  0% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes flashing_animation {
  0% {
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-height: 570px) {
  #ball-animation {
    visibility: hidden;
  }
}
